* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e7e8ec;
}
a {
  text-decoration: none;
  margin: 0px !important;
}
a :hover {
  cursor: pointer !important;
}
.colors {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border: 1px solid;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
}
.error{
  margin-top: 100px;
  text-align: center;
  color: red;

}